.pokemon{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    background: url(../image/Pokemon-Phone-Wallpapers-4.jpg) center / cover no-repeat;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.pokemon__descripcion{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.pokemon__descripcion__item{
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pokemon__descripcion__poder{
    margin-left: 2rem;
    font-size: 2rem;
}

.pokemon__imagen{
    width: 300px;
    filter: drop-shadow(5px 5px 2px black); 
}