body{
    font-family: 'Squad 62', sans-serif;
}

.body{
    display: flex;
    padding-top: 1.5rem;
    background-color: #2f2f2f;
    justify-content: center;
    color: rgb(255, 145, 0);
}

/*************************/

.listado_tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    background: url(../image/Pokemon-Phone-Wallpapers-4.jpg) center / cover no-repeat;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 2rem;
}

.tarjeta__foto{
    filter: drop-shadow(5px 5px 5px black); 
    width: 200px;
}

.tarjeta__nombre{
    font-size: 2rem;
}

.tarjeta__detalles{
    color: rgb(255, 145, 0);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0.5rem;
}

/*******************************/

.paginador{
    text-align: center;
    margin: 4rem 0rem 4rem 0rem;
    color: rgb(255, 145, 0);
}

.paginador__opcion, .paginador__opcion__oculto{
    background: red;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.paginador__opcion:hover{
    background: rgb(207, 0, 0);
}

/********************************************/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(20, 20, 20);
    padding: 3rem 0 3rem 0;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer__contenedor{
    width: 80px;
    margin-bottom: 0.5rem;
}

.footer__contenedor__imagen{
    width: 100%;
}

.footer__leyenda{
    font-size: 0.9rem;
    color: #979797;
}

@media screen and (max-width: 768px){
    .tarjeta{
        width: 45%;
    }

    .tarjeta__foto{
        width: 100%;
    }
}